// Colors:
$accentColor: #9bd1f3;
$sidebarBgColor: #a8b2d4;
$bodyBc: #f0eeee;
$inputBorder: #cccccc;

// Border-radius:
$borderRadiusDefault: 10px;
$activeLinkRadius: 30px;
$sidebarCornerRadius: 50px;

// Sizes:
$inputHeight: 54px;
$iconSize: 30px;

// Animation:
$transitionAll: all 0.4s ease 0.1s;
